<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-4"></div>
      <div class="col-xs-7">
        <ul class="u-list">
          <li class="topbar1">
            BULK BUYING/RESELLING
          </li>
          <li class="topbar1">
            MY STYLE PREFERENCE
          </li>
          <li class="topbar1">
            SELL ON VOONIK
          </li>
          <li class="topbar1">
            SUPPORT
          </li>
          <li class="topbar1">
            DOWNLOAD
          </li>
          <li class="topbar1">
            BLOG
          </li>
          <li class="topbar1">
            SHIP TO <i class="glyphicon glyphicon-flag"></i>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="x"></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-2">
        <h1 class="one">
          <b routerLink="/">Voonik</b>
        </h1>
      </div>
      <div class="col-xs-5">
        <form action="/hms/accommodations" method="GET">
          
            <input type="text" class="form-control" placeholder="Search" id="txtSearch" />
            <!-- <div class="input-group-btn"> -->
              <button class="btn btn-primary button-black" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            <!-- </div>   -->
        </form>
      </div>
      <div class="col-xs-5">
        <ul class="logo1">
          <li class="logo">
            <i class="glyphicon glyphicon-user icon1"></i>
            <figcaption onclick="document.getElementById('id01').style.display='block'" style="width:auto;"><li routerLinkActive="active"><a routerLink="/login">login</a></li></figcaption>
            
          </li>
         <!-- <li routerLinkActive="active"><a routerLink="/login">login</a></li> -->
          <li class="logo">
            <i class="glyphicon glyphicon-heart icon2"></i>
            <figcaption>wishlist</figcaption>
          </li>
          <li class="logo">
            <i class="glyphicon glyphicon-shopping-cart icon3"></i>
            <figcaption onclick="cart().style.display='block'" style="width:auto;"><li routerLinkActive="active"><a routerLink="/cart">cart</a></li></figcaption>
          </li>
        <!--  <li routerLinkActive="active"><a routerLink="/dashboard">Dashboard</a></li> -->

        </ul>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="container-fluid">
    <div class="row">
      <nav class="navbar navbar-inverse scroll">
        <div class="container-fluid col-xs-12">
          <div class="col-xs-8 ">
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav ">
                <li class="dropdown">
                  <a routerLink="women" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">WOMEN
                    <span class="sr-only">(current)</span>
                  </a>
                  <ul class="dropdown-menu">
                    <li class="dropdown">
                      <a routerLink="women/indianwear">Indian Wear</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a routerLink="women/indianwear/sarees" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">Sarees
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="women/westernwear">Western Wear</a>
                    </li>
                    <li>
                      <a href="women/footwear">Footwear</a>
                    </li>
                    <li>
                      <a href="women/bags">Bags</a>
                    </li>
                    <li>
                      <a href="women/accessories">Accessories</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a routerLink="/Men">MEN</a>
                </li>
                <li>
                  <a routerLink="/Kids">KIDS</a>
                </li>
                <li>
                  <a routerLink="/Homeliving">HOME & LIVING</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xs-4 pull-left collapse navbar-collapse navbarpic" id="bs-example-navbar-collapse-1">
            <img src="assets/images/12.png" alt="image" width="150px" height="50px">
          </div>
          <div class="clearfix"></div>
        </div>
      </nav>
    </div>
  </div>

  <div>

  </div>

</div>
